<% include header %>



<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid">
          <h2 class="mt-4">Prishtina International Airport</h2>
          <br>
         <hr>
         <br>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card bg-success text-white mb-4">
                  <div class="card-body">Flutura Haxhaj</div>
              </div>
          </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-primary text-white mb-4">
                      <div class="card-body">Migena Likaj</div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-warning text-white mb-4">
                      <div class="card-body">Fitore Halimi </div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-danger text-white mb-4">
                      <div class="card-body">Edita Bajrami </div>
                          </div>

                        
                    </div>
              </div>

              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card bg-primary text-white mb-4">
                      <div class="card-body">Elba Kurteshi</div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-warning text-white mb-4">
                      <div class="card-body">Blinera Bytyqi </div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-danger text-white mb-4">
                      <div class="card-body">Valmira Lokaj </div>
              </div>
              </div>

                
            </div>
          </div>
          
  </main>

  <% include footer %>
